.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color:darksalmon;
  font-family: 'Indie Flower', cursive;
}

select {
  font-size: 2rem;
}

header {
  font-size: 3rem;
  background-color: burlywood;
  border: solid;
  margin-bottom: 5%;
}

.creature-section {
  font-size: 1.5rem;
  margin: 10%;
}

.creature-box {
  background-color: azure;
  border: solid black 2px;
  border-radius: 25%;
}

.drop-down {
  font-size: 2rem;
  background-color: khaki;
}


